/*landing page style*/


/*holding the box with image and text in it*/
.home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 12px;
    width: auto;
    font-size: 8pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    background-color: rgba(255, 20, 147, 0.5); 
    color: white; 
    border: 1px solid rgba(255, 20, 147, 0.7); 
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); 
}

.home-button:hover {
    background-color: rgba(255, 20, 147, 0.5);
    border-color: rgba(255, 20, 147, 0.5);
    transform: scale(1.05); 
    transition: 0.2s ease-in-out; 
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 12px;
    width: auto;
    font-size: 8pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    background-color: rgba(255, 20, 147, 0.5); 
    color: white; 
    border: 1px solid rgba(255, 20, 147, 0.7); 
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); 
}
.back-button:hover {
    background-color: #24c1d291;
    border-color:  #24c1d291;
    transform: scale(1.05); 
    transition: 0.2s ease-in-out; 
}


.footer-container {

    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   padding: 20px 0;
   margin: 0 auto;
   box-sizing: border-box;
}

.Watch-Now-Button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    background: hwb(315 5% 24% / 0.828);
    color: white;
    border: none; 
    border-radius: 50px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 14pt;
    text-align: center;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out;
}
.Watch-Now-button:hover {
    background-color: rgba(255, 20, 147, 0.5);
    border-color: rgba(255, 20, 147, 0.5);
    transform: scale(1.05); 
    transition: 0.2s ease-in-out;
}

body {
    background-image: url(futureDiaryBG.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
   padding: 0;
     display: flex;
     justify-content: center;
    align-items: center;
     min-height: 100vh;
      background-repeat: no-repeat;
     background-size: cover;
     flex-direction: column;
     }
/*holding everything*/
        .container {
            display: flex;
            max-width: 900px;
            width: 100%;
            background: rgba(238, 120, 195, 0.683);
            box-shadow: 0 4px 10px rgba(224, 30, 137, 0.665);
            border-radius: 80px;
            overflow: hidden;
        }

        .text-box {
            flex: 1;
            padding: 20px;
            box-sizing: content-box;
        }
/* this is the page title*/
        .text-box h1 {
            margin-bottom: 20px;
            color: hwb(324 3% 13%);
            -webkit-text-stroke: 1px black ;
        }
/*box holding picture*/
        .photo-box {
            flex: 1;
            position: static;
            display: flex;
            justify-content: center;
            align-items: fill;
            clip-path: xywh(60px 15px 100% 85% round 95% 60px); 
        }
/*actual image*/
        .photo-box img {
            width: 90%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }
   