
.nav {
  position: absolute;
  left: 50%;
  width: 200px;
  line-height: normal;
  text-align: center;
  margin-top: 1px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
    background-image: url('pinkmoon.jpg')
    
}
/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 250px;
  gap: 20px; 
  width: 250px; 
  margin: 10px;
  flex-direction: row;
  padding-top: 120px;
}

.grid-item {
  height: 150px;
  width: 200px;
  padding: 20px;
  margin: 0;
  border: 5px solid black;
  border-radius: 35px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.stars {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
}

.stars .star {
  cursor: pointer;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.stars .star:hover,
.stars .star:hover ~ .star {
  color: #000000;
}

.stars .star.rated {
  color: #000000;
}
/* Placeholder colors */
.item-1 { background-image: url(house.jpg);}
.item-2 { background-image: url(dock.jpg);}
.item-3 { background-image: url(redsmoke.jpg);}
.item-4 { background-image: url(purplesmoke.jpg); }
.item-5 { background-image: url(podcast.jpg); }
.item-6 { background-image: url(news.jpg); }
